[2019-06-06 09:43] albertog78 opened #24 "MC block references index in history"
parent MC block references lookup should be optimized using an additional persistent storage in SC history having entries like this: mcblockId->scblockId

[2019-07-05 08:51] albertog78 opened #25 "MC2SC Output nonce calculation"
Instead having nonce specified for each output in MC2SCAgggergatedTransaction we dynamically calculate it during mainchain block parsing. Nonce is used also during calculation of SCMap.

[2019-07-18 10:29] albertog78 opened #29 "Validation of MCBlockReferences against related MC2SCAggregatedTransactions"
Before applying to the state a SidechainBlock, beyond the semantic validity check of txs, we should also enforce the following:
* Number of MCBlockReferences = number of MC2SCAggregatedTransactions
* For each MCBlockReference check entry hash in SCMap = hash of MC2SCAggregatedTransactions
* remove such check in SCBlock semantic validity used by history (we will just verify PoW and Block hash)

[2019-07-18 10:39] albertog78 opened #30 "Fees"
Describe logic to redistribute fees

[2019-09-11 14:04] albertog78 opened #35 "Management of long forks"
In current implementation, if node A is synced up to a certain block and node B, being on a fork started NetworkSettings.desiredInvObjects + 1 blocks before A tip, node B even if "understand" the exact branching point of node A, will send just NetworkSettings.desiredInvObjects ids of its active chain. In such situation A, even after having received these new blocks, will publish the new SyncInfo w

[2019-09-11 15:34] albertog78 opened #36 "Reader.remaining usage"
Actual parsing implementation rely on number of bytes returned by the remaining method to validate input data (eg. if we expect to read X bytes we check if remaining returns at least X). If Reader implementation is reading from a stream, could be that current remaining data is less than data that can be read from stream. This will lead to not properly parse the whole data.
"remaining" method descr

[2019-09-12 09:36] albertog78 opened #37 "Genesis block"
Store all the data required to instantiate the genesis block (eg. signature must not be calculated at runtime)

[2019-09-12 09:53] albertog78 opened #38 "Block and transaction id calculation"
What are the impacts of including signatures in block / transaction in id calculation (eg. look at https://github.com/bitcoin/bips/blob/master/bip-0062.mediawiki)?

[2019-10-03 10:58] oaleksandrov-ip opened #41 "Inconsistnecy in SidechainHistoryStorage"
SidechainHistoryStorage shall always use the active chain for all requests, i.e.
  _def height: Int = heightOf(bestBlockId).getOrElse(0)_
to
  _def height: Int = activeChain.height_

also refactoring shall be done to removing active chain null checking:
  _def blockInfoById(blockId: ModifierId): Option[SidechainBlockInfo] = {
    if (activeChain != null && activeChain.contains(blockId))
      retu

[2019-10-09 16:04] albertog78 opened #45 "SC Creation output should also contain initial FT"
this will also avoid having an optional return type in SidechainRelatedMainchainOutput.getBox and will also allow to remove dependency check for a FT if SC creation output is specified

[2019-10-09 16:45] albertog78 opened #46 "SC merkle root map does not enforce SC id correlation"
Current way of calculating sidechain related outputs map does not enforce the correlation of the relative sc id to the merkle root of the sc outputs specific to that sidechain. Eg:
[code]
Current hash reserved calculation:
[code]
Hash reserved does not enforce that MR2 belongs to SC2 then a malicious forger in SC 3 can forge a block specifing as SCMap [SC1->MR1, SC3->MR2] and as sc related outputs

[2019-10-10 13:16] #46 closed, assigned to i-Alex

[2019-10-11 13:57] albertog78 opened #47 "BoxType filter in Api does not work"
Instead of specifying the boxType class name as filter, specify the serialization code identifier (both custom and core bytes)

[2019-10-11 14:51] albertog78 opened #48 "Avoid duplicating api response serialization logic"
Both for Ok response and error centralize the logic needed to return the ApiResponse instance.
eg
ApiResponseUtil.toResponse(ErrorSecretNotAdded("Failed to create key pair.", e)): SidechainApiResponse
or
ApiResponseUtil.toResponse(RespPublicKey(secret.publicImage())): SidechainApiResponse

[2019-10-11 15:42] albertog78 opened #49 "applicationWallet and applicationState bound to instances in SimpleApp"
We cannot bind them to instances because, expecially for ApplicationState, they must be immutable then need to be instantiated at each change and such instantiation must use guice too to allow dependency injection. For this reason is probably better to introduce a guice Provider that will allow much more flexibility in the instantiation of the new instances

[2019-10-17 09:42] albertog78 opened #53 "JSON Serializers configuration"
To avoid specifying for each byte array field the same serializer, configure the object mapper to default to this serializer in case of byte arrays.
Avoid specifying json property name if field name is the same.
Split ApiResponse case classes with option arguments to different classes

[2019-10-17 14:56] #53 closed, assigned to i-Alex, g666

[2019-10-18 06:51] #48 closed, assigned to g666

[2019-10-30 13:57] g666 commented on #47
The filter works as expected.
Below two examples of request and response:
[code]
If we want to specify the serialization code identifier, the user, to create a box with unique identifier, must to know all identifiers, of the boxes, already defined inside the system. And for do this, we should to provide to the user all predefined identifiers.

Specifying the class name, the only constraint is that

[2019-11-02 17:01] AdrianScott opened #62 "requirements, install instructions"
are maven and javafx requirements?

jdk8 doesn't seem to be available anymore, just jdk11?

should one do "mvn package" or some such to install as with SimpleApp?

instead of comment lines 22-33 is one of those line numbers off by one line? doesn't look right in the code

mvn package on simpleapp couldn't find sidechains, so did mvn package on sidechains, which gives me this error
[ERROR] /home/ad

[2019-11-05 14:13] g666 commented on #47
Solved in commit (https://github.com/ZencashOfficial/Sidechains-SDK/commit/ad22a2f9b1ec1bf7caee5def6200f392368a51fc)

[2019-11-05 14:16] #47 closed

[2019-11-28 10:18] albertog78 opened #73 "Optimize withdrawal requests epoch storage"
Instead of keeping track of all the withdrawal requests of all the epochs we can just keep track of previous epoch withdrawal requests (these are going to be used for creating the certificate) and current epoch withdrawal requests.

[2019-11-29 09:36] i-Alex commented on #73
Additional:
1. Move the method `getWithdrawalRequests` from [SidechainStateReader](https://github.com/ZencashOfficial/Sidechains-SDK/blob/dev/sdk/src/main/java/com/horizen/state/SidechainStateReader.java#L10) into [NodeState](https://github.com/ZencashOfficial/Sidechains-SDK/blob/dev/sdk/src/main/java/com/horizen/node/NodeState.java#L5). Also the signature for the method should be changed accordin

[2019-11-29 09:37] #62 closed

[2019-12-16 10:31] g666 opened #75 "STF. Box type filter"
Replace wallet method "allBoxes" with "boxesOfType", passing not the full class name of the Box but the serialization identifier.
https://github.com/ZencashOfficial/Sidechains-SDK/blob/42fa0ec91f3ece10a2165a4d999f06ffe10041bc/qa/SidechainTestFramework/scutil.py
def check_regularbox_balance(sc_node, array_of_expected_public_keys, array_of_expected_boxes_count, array_of_expected_sc_balances):

[2020-02-24 10:13] i-Alex opened #87 "ApplicationApiRoute usage"
Update ApplicationApiRoute with access to SidechainCoreTransactionFactory and TransactionActor to give a possibility to Sidechain developers to create and send to the node transactions in their custom API.

[2020-03-04 08:54] i-Alex opened #88 "Serialization: reader/writer usage"
Scorex RC4 provides us different mechanism of serialization/deserialization, than RC3.
In RC3 we were obliged during deserialization to put the exact byte array into serializer. For example, if object `A` contains object `B` inside, than during serialization of `A` we should put at first length of serialized `B`, than `B` itself. So, during desearilization of `A` we can extract exact bytes of `B`

[2020-03-04 08:56] i-Alex commented on #36
Current issue will be solved as a part of solution for https://github.com/ZencashOfficial/Sidechains-SDK/issues/88.

[2020-03-04 08:57] i-Alex commented on #38
In progress.

[2020-03-04 09:04] i-Alex opened #89 "semanticValidity"
Currently `.semanticValidity` method for transactions, blocks and mainchain objects returns `boolean`.
In a case of failure we can't easy understand what was the exact place, that caused it.
We should use different return type that provides the reason of failure (maybe an exception or try in a case of check failure), that should be both java and scala friendly. Otherwise, it always a pain to know

[2020-03-26 13:16] i-Alex opened #92 "Ommers VRF verification"
During `SidechainBlock` validation in `ConsensusValidator` its vrf proof and forger box must be validated as well as vrf part of all the `Ommers` recursively.
Ommers can be from current ConsensusEpoch, from previous ConsensusEpoch or mixed.
In case of mixed Ommers: previous epoch ommers can lead to different Nonce for the current epoch Ommers.
At the moment Nonce for Epoch N is calculated as the b

[2020-04-16 14:26] i-Alex opened #97 "SidechainHistoryStorage, SidechainHistory data retrieving methods naming"
In SidechainHistoryStorage, SidechainHistory and other places when we want and expect to retrieve an instance of `A` by some `B`, we should have a method:
 `def getAbyB(b: B): A`
That should return `A` or throw an exception.

When we expect that `A` can not exist for existing `B`, we should have a method:
`def getAbyBOption(b: B): Option[A]`
At the moment such a method names are not consistent.
Ne

[2020-04-23 11:00] albertog78 opened #99 "Forger boxes eligibility evaluation optimization"
Considering that a single node can be delegated with several forger boxes we should optimize the lookup for an eligible forger box for a particular slot.
A possible optimization will be to directly return the VRF output hash during proof creation to avoid for each forger box to calculate the proof, validate it again and then extract the output hash to be able to verify eligibility considering the

[2020-04-30 13:43] albertog78 opened #103 "Certificate submission process improvement"
To have the possibility of having for example different set of submitters depending on mainchain block height would be needed to have the submission event to be triggered based on mainchain block appearance (not on mainchain block reference inclusion because this could lead to some delays in submission). This applies to all the mainchain blocks successors of the mainchain block that identifies the

[2020-04-30 14:10] albertog78 opened #104 "Invalidate SC branches not compatible with final certificate accepted in MC after end of epoch timeout in MC"
There could be a situation where one branch has a lower score at the end of the withdrawal epoch, but after MC certificate acceptance window timeouts, another SC branch appears with an higher score at some point in the future (score before certificate was lower but after some sc blocks became greater). The node will then start to follow this new branch even if the branch point was before the withd

[2020-05-08 09:25] i-Alex opened #109 "MainchainSynchronizer MAX_BLOCKS_REQUEST value"
At the moment MainchainSynchronizer.MAX_BLOCKS_REQUEST = 50
That corresponds to https://github.com/ZencashOfficial/zen/blob/merge_support_branch/src/zen/websocket_server.cpp#L32

In MC the value will be changed to 100. So wait and update accordingly the value in SDK.
Value `100` is related to the maximum supported fork length in MC.

[2020-05-20 13:13] albertog78 opened #113 "Certificate backward transfers limits"
In mainchain different limitations are applied to txs and certificates. For example it is limited the total number of some opcodes (eg. OP_CHECKSIG) specified in inputs and outputs and this limitation applies also to certificate if we use P2PKH scripts in backward transfers. Obviously other limitations could be applied like MAX_TX_SIZE.
Given that, we must avoid generating an invalid certificate o

[2020-06-14 17:39] jtoownus opened #123 "Add Issues to be added to HDE"
Hey,

in preparation for the HDE launch, we should add Issues for the tasks we need/want help with in this repository. E.g. when we would like to see documentation, then there should be an issue where we:

- prioritize which part of the codebase we would like to be documented first
- where and how to provide documentation
- etc.

Issues need to be labeled according to HDE label policy in order to

[2020-06-15 08:18] i-Alex commented on #24
Done. `ActiveChain` class introduced to keep info about MC block reference data and header info with fast access to the data itself and containing SC block.

[2020-06-15 08:19] #24 closed

[2020-06-15 08:20] i-Alex commented on #25
Done. And moreover SCMap was replaced with ScCommitment

[2020-06-15 08:20] #25 closed

[2020-06-15 08:21] i-Alex commented on #29
Done

[2020-06-15 08:21] #29 closed

[2020-06-15 08:24] i-Alex commented on #37
Done

[2020-06-15 08:24] #37 closed

[2020-06-15 08:25] i-Alex commented on #45
Done

[2020-06-15 08:25] #45 closed

[2020-06-15 08:27] i-Alex commented on #73
Done.

[2020-06-15 08:27] #73 closed

[2020-06-15 08:30] i-Alex commented on #89
Done for SidechainBlock, SidechainBlockHeader, Ommer, MainchainBlockReference.
Must be done for Transactions: `semanticValidity` and `transactionSemanticValidity` methods.

[2020-06-15 08:31] i-Alex commented on #92
Done

[2020-06-15 08:31] #92 closed

[2020-06-15 08:41] i-Alex commented on #99
Done.
Note: account based delegation is in progress.

[2020-06-15 08:41] #99 closed

[2020-06-15 08:41] i-Alex commented on #109
Done

[2020-06-15 08:41] #109 closed

[2020-06-17 08:47] i-Alex commented on #88
We need to be sure that we don't serialize unnecessary data. For example fixed-size fields should be serialized as is without additional "data length value" before the data itself.
For example, now `SchnorrSecret` also serialize secret key length before secret bytes, but secret bytes length is known and constant.

[2020-06-17 10:26] oaleksandrov-ip opened #131 "ThresholdSignatureCircuitImplZendoo.signaturePlaceHolder multiply free supporting"
From comment to https://github.com/ZencashOfficial/Sidechains-SDK/pull/117/files/eb49acc0e6ca39b71020212f77b224186de8422d#diff-16ea5a9eedc16ff422536088f76491e3 :

albertog78
this is quite tricky solution because you rely on the fact that signaturePlaceHolder will support multiple "free" invokes. It would be safer to instantiate in any case a new placeholder in case of no signature

[2020-06-17 10:30] oaleksandrov-ip commented on #131
@albertog78 There is no problem in case if zendoo_sc_cryptolib directly support multiply free for empty schnorr signature `new SchnorrSignature()`. For example, if the class description directly describes the possibility of multiply free, thus only appropriate description could be added, to avoid unnecessary objects creation.

[2020-06-18 10:52] albertog78 opened #135 "Automatic reconnect of websocket"
If connection is lost with mainchain node try to automatically reconnect to it n times with an increasing  delay between tries (pay attention to check proper exception type to distinguish connection related issues)

[2020-06-18 10:55] albertog78 opened #136 "Use new certificate submission command via websocket interface"
Once the command will be added in mainchain node via websocket use this one to submit the certificate instead of using the RPC api

[2020-06-18 11:00] albertog78 opened #137 "Introduce config option to start automatically forging process"
Currently automatic forging is started only via webapi command. Add an option also in the config file.

[2020-06-18 11:02] albertog78 opened #138 "Verify that update tip event received from mainchain is triggered every time is needed"
Especially pay attention to long forks tip update events

[2020-06-19 19:32] jtoownus commented on #123
@albertog78

[2020-06-19 22:36] Oddfridur opened #142 "Problems with org.scala-tools"
Hello, I had problems with the org.scala-tools plugin, my IDE could not locate the repository, because it no longer exists. I found a solution via https://stackoverflow.com/questions/50855288/unable-to-build-scala-maven-project

In Sidechain-SDK pom.xml replace:
[code]
with
[code]
Remove this:
[code]

replace with:
[code]

Remove:
[code]
replace with:
[code]

Hope it helps.

[2020-06-22 09:53] i-Alex commented on #142
Thanks, @Oddfridur for posting the issue.
Fix was merged to master branch.

[2020-06-22 09:53] #142 closed

[2020-06-26 10:03] i-Alex opened #150 "Horizen address json representation in MainNet"
https://github.com/ZencashOfficial/Sidechains-SDK/blob/master/sdk/src/main/scala/com/horizen/serialization/JsonHorizenPublicKeyHashSerializer.scala

For now, public key hash field json representation in `WithdrawalRequestBox` and `WithdrawalCertificate` always covert hash to Horizen address with Testnet/regtest prefix.
But for the MainNet it should be represented with a different prefix specific t

[2020-06-29 18:11] Cermelli opened #151 "Create a new sidechain"
**HDE task**

Starting points:

- https://github.com/HorizenOfficial/Sidechains-SDK/blob/master/README.md
- https://github.com/HorizenOfficial/zend_oo/blob/sidechains_testnet/README.md

Required steps:
- Build zend_oo and Sidechain SDK
- Declare a sidechain
- Start a sidechain node
- Perform a Forward Transfer from the mainchain to the sidechain
- Perform a transfer inside the sidechain
- Perform

[2020-06-29 18:49] Cermelli opened #152 "Provide a Bash script for Linux that automates steps during sidechain node setup"
**HDE task**

Starting points:

- https://github.com/HorizenOfficial/Sidechains-SDK/blob/master/README.md
- https://github.com/HorizenOfficial/zend_oo/blob/sidechains_testnet/README.md

Script should:

- Automate all the steps needed to declare sidechains and run a first sidechain node
- Generate all the needed keys
- Include customisation of the initial amount to be sent to the sidechain during s

[2020-06-30 18:54] morganblack25 commented on #151
hola
comoa  estado :D

[2020-06-30 19:01] morganblack25 commented on #152
pero sera compatible también para todos los sistemas operativos  de 32 bits ?

[2020-06-30 20:24] rosariopabst commented on #152
Por ahora zend_oo y el sidechain-SDK solo es compatible con 64 bit. Vas a empezar a desarollar el bash script/bounty?

[2020-06-30 21:32] morganblack25 commented on #152
si eso quiero realizar pero mi sistema operativo es de 32bits

El mar., 30 de jun. de 2020 a la(s) 16:24, rosariopabst (
notifications@github.com) escribió:

[2020-07-01 14:57] oaleksandrov-ip opened #154 "Fix ApplicationNodeViewProvider"
current function for ApplicationNodeViewProvider is  public Try<SidechainNodeView> getSidechainNodeView();
This is an incorrect way, returning sidechainNodeView is not multithreading save, instead, it shall provide a way to pass a function to be executed over SidechainNodeView

[2020-07-02 09:22] jtoownus commented on #152
Hey @morganblack25 ,
if possible, please keep discussions in English so everybody can follow along. Thank you :)

[2020-07-02 09:23] jtoownus commented on #151
Hey @morganblack25 ,
if possible, please keep discussions in English so everybody can follow along. Thank you :)

[2020-07-07 17:45] Rifat0000 commented on #152
We love u zen.... Every one know zen is best

[2020-07-09 18:00] wawanz001 commented on #151
What is this?

[2020-07-10 07:24] i-Alex opened #158 "SCBootstrappingTool genesisinfo command arguments currupted"
genesisinfo command arguments can be too long for some platforms.
For example, on windows cmd max line length is 8192, but the command with arguments is about 8600, so the last ~400 symbols were cut from the command.
Currently bootstrapping tool accept only single-line commands. We need to add the support of multi line arguments.

[2020-07-11 03:45] minbinL commented on #151
Do we have 10 accepted participants now??

[2020-07-11 10:03] jtoownus commented on #151
@minbinL not yet. You interested?

[2020-07-11 21:22] jedidefault commented on #151
I am interested. :)

[2020-07-11 21:29] aaron008 commented on #151
Hello,
I have been looking over the documentation, but I do not see how to send the detailed report for submission.

[2020-07-13 23:31] angievi commented on #151
Hello @aaron008 , have you read the following links?

https://github.com/ZencashOfficial/Sidechains-SDK/blob/master/readme.md
https://github.com/ZencashOfficial/zend_oo/blob/sidechains_testnet/README.md

Let me know how else I can help, regards!

[2020-07-14 00:47] aaron008 commented on #151
Hello @angievi, thank you for your reply.  Maybe I was not clear enough in my comment.
According to the required steps above:
"Produce a detailed report that includes the commands used during the test (inputs, outputs, … )"
"Include any feedback you might have related to your test (recommendations, areas of improvements, …)"

Nowhere in the links does it state how to submit the "detailed report".

[2020-07-16 10:25] jtoownus commented on #151
Hey @aaron008
sorry for the confusion. The detailed report can be submitted in various ways. We're in the process of adding file attachment support to our bounty claim form. There you would be able to upload your report in .pdf, .docx or .md.

You can also submit the report by providing a link to a document, either a private gist, markdown file in a private repo or a google doc.

We assume we will

[2020-07-19 16:06] megaluck commented on #158
Hi @i-Alex  i run into the same problem on Windows, this is how I was able to circumvent

created a txt file with the whole command  and passed the file as a input , give it a try

**ex:**

`java -jar tools/sctool/target/Sidechains-SDK-ScBootstrappingTools-0.2.1.jar < genesis.txt
`

[2020-07-22 22:57] rickmort commented on #151
Is this task still available?

[2020-07-23 07:50] salvatoretrimarchi commented on #152
Yes of course, how may I help you? I'm Bash Developer

[2020-07-23 08:49] ponta9 commented on #152
I’ve got a working bash script that generates all keys and customizes a sidechain node with regtest flag at the moment(with custom amount). It starts the node and automatic forger. Just missing some good error logging and test it on testnet instead.

Does the script need to compile zend_oo and compile the sidechain app?

[2020-07-23 13:21] cronicc commented on #152
@ponta9 compiling zend_oo in the script is optional, but nice to have. The script should at least have the option to provide a path to zend/zen-cli, or check that they are in $PATH. A check for the latest version should also be made (`zend -version`). You could also use the precompiled binaries from https://github.com/ZencashOfficial/zend_oo/releases/latest, but in that case authenticity of the bi

[2020-07-23 13:37] rosariopabst commented on #152
@ponta9 sounds great. marking this as a WIP. What's your ETC?

[2020-07-24 03:22] angievi commented on #151
Hello @rickmort yes, it is still open and you can work on it, if you want to start working on it just let us know here in the comments :)

Thank you!

[2020-07-25 20:54] ponta9 commented on #152
@rosariopabst
Had to implement some error handling. Also had to change some code to fit testnet as well as regnet. But that and logging should be done now. The only thing I have left is compiling the SDK if it's outdated and checking zend -version.

@cronicc ok but right now I'm just going to check that zend and zen-cli are in the provided path.

Just got some more questions

1. **How can I check

[2020-07-26 19:48] xgarreau commented on #151
Hi there !

I just completed 3 blog posts documenting :
- Installing Zendoo and basic use of it
- Installing Sidechains SDK and using it to configure and start a sidechain node
- Performing transfers (Forward, Backward and inside the sidechain)

Here are the links :
- https://mescryptos.fr/les-sidechains-horizen-le-noeud-zend-oo/
- https://mescryptos.fr/les-sidechains-horizen-ma-premiere-sidechain

[2020-07-27 20:42] kimyaci8674 commented on #151
veryy good project..

[2020-07-29 08:57] i-Alex opened #171 "receiveMultipleMessages test random failure"
From user:
building with maven fails (randomly without changing anything) 2/3 times for me on the test receiveMultipleMessages() in WebSocketChannelImplTest.scala. adding a Thread.sleep(50) in WebSocketServerPushEndpoint.scala seems to fix that issue for me.
 my guess is that something else is blocking the send or the server has not completely started as the test relies on sending on the annotatio

[2020-07-29 12:42] abi87 opened #173 "Subsequent certificate generation consume all RAM"
Running test https://github.com/HorizenOfficial/Sidechains-SDK/blob/adbc3a32fa1ed361c61cf90ff839595ab526e092/sdk/src/test/scala/com/horizen/SigProofTest.scala#L68 cause all ram to be consumed.
Each certificate generation is increasing my RAM usage without freeing it afterward, till the jvm crashes.
Issue was replicated on Ubuntu 20 and 18.04., both with 16 GB RAM.
The test has been performed both

[2020-07-30 00:45] rosariopabst commented on #151
@xgarreau Great job! Feel free to go through the bounty claim process.

[2020-07-30 07:24] xgarreau commented on #151
Hi !

Thank you very much @rosariopabst I'm glad you appreciated the tutorials.

I went through the bounty claim process. I hope it worked.

I created an account on HDE with github, joined HEAP, fill my profile and claimed bounty here https://hde.horizen.global/account/claim-bounty for sidechains SDK, issue 151 with PR 169, i filled my postal and zen addresses and submitted the form.

I got a popu

[2020-07-30 22:12] alexfabian0 commented on #152
Quero fazer parte disto win 64 bites a todo vapor

[2020-07-31 16:18] cronicc opened #180 "pom.xml variable expansion not working for metadata"
Same issue as https://github.com/HorizenOfficial/zendoo-sc-cryptolib/issues/37

[2020-08-01 16:14] cronicc commented on #152
@ponta9

Going forward we will be doing tagged releases of the SDK, you can use the GH API to check that the latest tag matches the version in pom.xml and versions of the jars.

You can check the latest tag on https://github.com/HorizenOfficial/zend_oo against the output from `zend -version`

Any java >= 8 and maven >= 3 should work.

I've not tried if simpleapp works with a pure JSON config, if i

[2020-08-02 08:22] ponta9 commented on #152
@cronicc Well Im using githubs api to check the zend_oo version tag. But because the SDK releases are not "proper" in GitHub api eyes i got a error response. Here is the calls im making
[zend_oo call](https://api.github.com/repos/HorizenOfficial/zend_oo/releases/latest)
[SDK call](https://api.github.com/repos/HorizenOfficial/Sidechains-SDK/releases/latest)

[2020-08-02 17:39] cronicc commented on #152
Made the 0.2.2 tag a release @ponta9

[2020-08-03 21:45] erazhu31 commented on #151
Hi Is this task still available?

[2020-08-04 02:19] angievi commented on #151
Hello @erazhu31  yes, it is still open and you can work on it, if you want to start working on it just let us know here in the comments :)

Thank you!

[2020-08-04 13:04] erazhu31 commented on #151
Hi @angievi i will start then thanks

[2020-08-06 17:48] angievi commented on #152
Hello! @ponta9, your script is being reviewed by @zennermac and will also get a couple of more reviews in the meantime. We will come back to you with any feedback and about your bounty in the next following days. thank you!

[2020-08-07 13:04] erazhu31 commented on #151
Hello @angievi   completed , i went through the whole process i followed those tutorials links:

https://mescryptos.fr/les-sidechains-horizen-le-noeud-zend-oo/
https://mescryptos.fr/les-sidechains-horizen-ma-premiere-sidechain/
https://mescryptos.fr/les-sidechains-horizen-transfert-de-zen/
https://github.com/HorizenOfficial/Sidechains-SDK/blob/b689690908e821d1039d8617e384622c36b02e69/examples/simp

[2020-08-07 16:02] angievi commented on #151
Hi @erazhu31 , you can provide the link to your report here. We will review and get back to you shortly. thank you!

[2020-08-07 18:12] erazhu31 commented on #151
HI @angievi  here in my report : https://github.com/erazhu31/horizen-sidechain/blob/master/README.md

[2020-08-11 16:02] angievi commented on #151
Hey @erazhu31 we have reviewed your report and it complies with our quality standards! Please follow the bounty claim process here: https://hde.horizen.global/landing-page/bounty-payout-policy . Please, let me know when you claim your bounty for awareness, thanks!

[2020-08-11 16:08] angievi commented on #151
Hey @xgarreau have you claimed your bounty? Please make sure you are following the steps listed here: https://hde.horizen.global/landing-page/bounty-payout-policy , let me know if you have any questions please :) thank you!

[2020-08-11 19:21] erazhu31 commented on #151
Hi @angievi I just went through
Thanks

[2020-08-12 16:21] zennermac commented on #152
Hi @ponta9

Firstly thanks for the great work you have done on this so far.
And also thanks for taking the time to chat verbally about this yesterday.

The script works well but as we chatted about I have some suggestions.

We should give the user the option to not automatically start the forging process as some users may see value in only having the script generate the settings file and build the

[2020-08-17 05:53] erazhu31 commented on #151
Hi @angievi  i claimed the bounty and filled the form. I  received an confirmation email but since i have no transaction on my adr
could you please confirm thanks

[2020-08-17 14:44] angievi commented on #151
Hey @erazhu31 sure, will come back to you with an answer! Thank you!

[2020-08-19 15:54] erazhu31 commented on #151
Hi @angievi received Thanks

[2020-09-02 03:31] angievi commented on #152
Hey @ponta9 any ETC for this task? let me know if you have any questions!! - Angie.

[2020-09-04 02:24] angievi commented on #152
Hey @ponta9 , we have reviewed your script and it complies with everything we asked for. I'm starting your payment process now and you will get your ZEN bounty ASAP :). if you have any questions, please let me know!
regards,
Angie.

[2020-09-07 10:36] paolocappelletti opened #184 "wallet storage not updated correctly with box having custom proposition"
**Issue:**
the API endpoint /allBoxes does not show boxes owned by the user that have custom proposition.
(for example CarSellOrderBox  in the LamboRegistry app)

**Cause:**
SidechainWallet  uses this code to check if a box can be opened by the user:
 pubKeys.contains(box.proposition())
(see: [here](https://github.com/HorizenOfficial/Sidechains-SDK/blob/master/sdk/src/main/scala/com/horizen/Sidech

[2020-09-08 13:50] paolocappelletti opened #186 "add Box property to discriminate standard box from custom box"
**Issue:**
Custom user-defined box type ids can overlap with standard ones, but we need to discriminate them.
For example in the lambo registry app the CarBox has typeId = 1 , the same  as the standard RegularBox : due to this the following code is not enough to select only the boxes of type CarBox:

[code]

furthermore, in the **wallet/allBoxes** endpoint result list is not very clear the differe

[2020-09-10 08:06] paolocappelletti opened #187 "IODBStorageUtil.getStorage should accept the other optional parameters accepted by LSMStore"
`com.horizen.storage.IODBStorageUtil.getStorage`  method should accept also the other optional parameters accepted by LSMStore class (see [here](https://github.com/input-output-hk/iodb/blob/0.3.2/src/main/scala/io/iohk/iodb/LSMStore.scala#L43)), and pass them to the underlying constructor.
An application could want to change some of them (the keysize and the keepVersions flag for example).

[2020-09-14 08:01] i-Alex commented on #187
Thanks @paolocappelletti! `LSMStore` has some performance and unexpected crash issues. We decided to replace it with LevelDB implementation (see, VersionedLevelDbStorageAdapter). It's already implemented, but still not in dev/master branches.
Regarding the key size, i guess, it should depend on hash function used. So at least for core functionalities it is always the same.
But, probably, for custo

[2020-09-14 08:05] i-Alex commented on #186
It's allowed to keep the same type ids between core types and custom types. The only restriction is that core type ids must be unique between themselves. And the same between custom types. We need it for serialization.

I agree with you, that it's confusing to see such case as you described, so additional boolean property can be a good solution here.

[2020-09-14 08:07] i-Alex commented on #184
Thanks! I agree with the proposal.

[2020-09-14 12:23] paolocappelletti opened #190 "SidechainNodeView should expose getters to applicationState and applicationWallet instances"
SidechainNodeView should provide access also to applicationState and applicationWallet instances.
They could be useful when implementing custom api endpoints logic.

[2020-09-14 12:41] paolocappelletti opened #191 "ApplicationWallet.onChangeBoxes should not filter out removed box ids"
In the event
**ApplicationWallet.onChangeBoxes(byte[] version, List<Box<Proposition>> boxesToUpdate, List<byte[]> boxIdsToRemove)**
fired by SidechainWallet ([see here](https://github.com/HorizenOfficial/Sidechains-SDK/blob/master/sdk/src/main/scala/com/horizen/SidechainWallet.scala#L142))
the third parameter  (boxIdsToRemove) lists only the ids of the removed boxes that were owned by the wallet.

[2020-09-14 15:09] paolocappelletti opened #192 "move io.horizen.lambo.car.transaction.AbstractRegularTransaction into the SDK?"
the class [io.horizen.lambo.car.transaction.AbstractRegularTransactio](https://github.com/HorizenOfficial/lambo-registry/blob/master/src/main/java/io/horizen/lambo/car/transaction/AbstractRegularTransaction.java) is a very useful starting point for every custom transaction that requires payment of  a fee: it should be useful to have it directly on the SDK to avoid code duplication between customer

[2020-09-17 08:31] i-Alex opened #193 "Sidechain Node safe stop"
We need to add a safe way to stop the node execution, similar to how it's done in the zend.
Currently, we are able only to terminate the process, that may lead to the Node persistent data corruption/inconsistency.
Let's add the API call `stop` method, which will do it safely.

[2020-09-17 08:32] i-Alex opened #194 "Logs with timestamps"
Currently the log file of the SidechainNode doesn't contain timestamps for the printed data.
We should be able to add such possibility.
Probably:
-Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat="yyyy-MM-dd HH:mm:ss:SSS"****
may help.

[2020-09-17 08:51] paolocappelletti commented on #194
I changed the log format also by placing a file here (in the sidechain app):
/src/main/java/resources/simplelogging.properties
with a content like this:
org.slf4j.simpleLogger.defaultLogLevel=debug
org.slf4j.simpleLogger.showDateTime=true
org.slf4j.simpleLogger.dateTimeFormat=yyyy-MM-dd HH:mm:ss:SSS Z

and was able to append log messages from the sidechain app with this

    private static Logger

[2020-09-17 16:03] paolocappelletti opened #197 "parametrize path to sidechains-sdk-scbootstrappingtools-0.2.2.jar inside SidechainTestFramework"
I was able to write inside a user app  a python test that re-uses the SDK SidechainTestFramework to bootstrap the sidechain and performs some custom transactions (will post soon a pull request to lambo-registry with an example of that!).
But in order to execute it correclty from the user application we need to parametrize this line of code, allowing to define an absolute path for the SDK itself, t

[2020-09-18 09:54] paolocappelletti opened #200 "documentation: use same dictionary as zen-cli and Sphere in the sc_create parameter list"
inside the workflow example doc
https://github.com/HorizenOfficial/Sidechains-SDK/blob/master/examples/simpleapp/mc_sc_workflow_example.md
we should better clarify  in step 7 that these 3 parameters of sc_create:

- Verification key from step 4 ("5e7...000") - That key is used for verifying backward transfers, verification file shall contains that key in byte form
- Vrf public key ("dd2...000") -

[2020-09-22 01:51] tamkgkgkg commented on #200
Hj

[2020-09-23 10:26] paolocappelletti commented on #197
Please also change the default tmp dir here:
https://github.com/HorizenOfficial/Sidechains-SDK/blob/master/qa/SidechainTestFramework/sc_test_framework.py#L116
with something more generic not containing the 'simpleapp' name
proposed:
parser.add_option("--tmpdir", dest="tmpdir", default="./tmp",   help="Root directory for datadirs")

[2020-09-24 14:55] i-Alex opened #203 "Wallet allBoxesBalance method should return only coins boxes balances."
Currently, `allBoxesBalance` method returns the sum of the values of all the Boxes controlled by the Wallet.
It leads, to the problem with custom token, like a CarBox, which value is taken into consideration.
Instead we should collect only CoinsBox'es values.
Moreover, we should rename `allBoxesBalance` to `allCoinsBoxesBalance`.

[2020-09-24 15:01] i-Alex opened #204 "Transactions timestamp usage"
BoxTransaction has a `public abstract long timestamp();` method.
But honestly we never use it and even have no specific validation rules for it. So, actually any positive `timestamp` value can be set during transactions creation. In the Horizen core we are interested only in persistent transactions creation time, so the one which are part of the block. In this case we define transaction creation t

[2020-09-24 17:01] paolocappelletti opened #205 "add an endpoint to default api showing the sync status"
the default api should expose an endpoint to notify the sync status of the node (current node height VS total sidechain height)
Something like this one used in the explorer
[https://explorer.sidechains-testnet.horizen.global/api/sync](https://explorer.sidechains-testnet.horizen.global/api/sync)

[2020-09-28 06:25] i-Alex commented on #136
https://github.com/HorizenOfficial/Sidechains-SDK/pull/201

[2020-09-28 12:22] i-Alex opened #206 "ApplicationState interface improvement"
In the `ApplicationState` interface we have:
[code]
In case of any failure during validation, we are not able to get the cause.
We should replace `boolean` with `void` and expect for an exception if any error happen. Moreover we can add `throws ... ` signature to make the usage more clear to the developers.

[2020-10-06 07:11] i-Alex commented on #184
The proposed changes are not fully enough for us. We should review the way how we store secrets and retrieve secrets for given proposition. The corner case is shown by the SellOrderProposition, which is actually a complex Proposition, that can have multiple related Secrets.

[2020-10-06 07:12] i-Alex commented on #158
Solved in the PR https://github.com/HorizenOfficial/Sidechains-SDK/pull/172

[2020-10-06 07:14] i-Alex commented on #154
Solved in the PR https://github.com/HorizenOfficial/Sidechains-SDK/pull/157

[2020-11-02 16:09] gootecks commented on #151
Hey there, is this still open?

[2020-11-02 16:13] rosariopabst commented on #151
Hi @gootecks it is and would like to see your blockers/issues when you submit the completion.

[2020-11-02 16:17] gootecks commented on #151
Great, I'm on it and will add blockers/issues in the report.  First time trying this, so I'm starting with the test sidechain task and will tackle this afterwards.

[2020-11-20 05:39] luisantoniocrag commented on #151
Hey! Can I still participate in this task?

[2020-11-20 11:20] angievi commented on #151
Hi! yes you can still create a sidechain :) please provide your report and let us know if you have any questions, thank you!

[2020-11-20 13:50] i-Alex opened #223 "Add block height method to the NodeHistory"
There is no way to get the block height info from the NodeHistory. The only possibility is to get current blockchain height.
Add `int getBlockHeight(String blockId)` method.

[2020-11-26 15:29] paolocappelletti commented on #184
this bug afftects also the  getNodeWallet().boxesOfType(...) method of SidechainNodeView : it does not  returns the boxes locked by a custom proposition

[2020-12-03 15:04] paolocappelletti commented on #197
added branch https://github.com/HorizenOfficial/Sidechains-SDK/tree/issue_197 with the proposed implementation

[2020-12-11 21:12] masoodas opened #226 "Masood"

[2020-12-15 11:21] paolocappelletti opened #227 "NodeWallet interface should expose a method to add a new secret"
the NodeWallet interface exposes only methods to list the wallet secrets.
Should also expose a method to add a new one.

Example of usecase that needs it:
we want to add a custom endpoint to import a private key inside the current node wallet.
The endpoint handler can access the node wallet using SidechainNodeView.getNodeWallet() but without the add method cannot import the key.

alternative: add

[2021-01-02 01:23] Mlhozgr commented on #151
Hey! Is this task still avaible?

[2021-01-02 01:38] infinitEnigma commented on #151
Hi, same question, is this task still available?

[2021-01-03 23:03] infinitEnigma commented on #151
[**if so, here is my report** 💯](https://github.com/infinitEnigma/HorizenSideChains_test/tree/main/Create%20a%20new%20sidechain%20%23151)
@angievi 🎉

[2021-01-05 14:06] #226 closed

[2021-01-05 14:06] #152 closed

[2021-01-07 15:28] angievi commented on #151
Hello @Mlhozgr yes, you can still create a sidechain :) please provide your report when completed, thanks!

[2021-01-07 15:29] angievi commented on #151
great! it is currently under review, I'll come back to you with feedback thanks!

[2021-01-11 08:31] luisantoniocrag commented on #151
Hey @angievi. There is my report: https://github.com/luisantoniocrag/create-a-new-sidechain

Thank you =)

[2021-01-11 09:59] angievi commented on #151
thank you @luisantoniocrag , it is currently under review!

[2021-01-12 16:53] mzaghab commented on #151
Hi @angievi, is this task still available?

[2021-01-14 07:38] neiithanlv opened #230 "I want to participate in this task"
I want to participate in this task

[2021-01-14 07:39] neiithanlv commented on #151
I wanna participate in this task!!!

[2021-01-14 10:24] angievi commented on #151
Yes, this task is still available. You can still create a sidechain @mzaghab and @neiithanlv please provide your reports :) thanks!

[2021-01-14 11:39] angievi commented on #151
Hi @infinitEnigma , your contribution has been approved. Please fill the bounty form again if you wish for the bounty to be sent to a different address.  https://hde.horizen.global/landing-page/bounty-payout-policy thanks!

[2021-01-14 12:11] infinitEnigma commented on #151
Thank you @angievi, I would like to use the address I have already provided, if that is ok.

[2021-01-15 07:06] Andreas2000 commented on #151
Hi @angievi
Is this task available for a bounty claim?
Thanks

[2021-01-16 00:24] mzaghab commented on #151
Hi all,
I have a problem when trying to make a forward transfert and validate it, but i am not sure if I mess a step or if it's a bug
- I follow all the steps for the creation of Build zend_oo and Sidechain SDK, Declare my sidechain, Start my sidechain node, make a transaction and mine it on the mainchain, but on the sidechain when I try to validate and mine the transaction I have the error below,

[2021-01-16 09:45] infinitEnigma commented on #151
if u are on windows then the issue maybe is in the binaries u are using. @mzaghab

[2021-01-16 10:47] mzaghab commented on #151
hi @infinitEnigma, thank's for your help, but I mounted a linux vm with ubuntu 18.4,
will try with other ubuntu versions and os

[2021-01-16 11:43] infinitEnigma commented on #151
it worked on this Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-130-generic x86_64) (VM)

[2021-01-17 22:12] mzaghab commented on #151
thanks @infinitEnigma, i had to move to ubuntu 18.4 LTS Desktop version to be able to pass this problem, i had the issue with ubuntu version 18.4 and 20.4 server
@angievi this is my report, tell if it's eligible for the bounty claim 👍
https://github.com/mzaghab/my-horizen/tree/main/task-151

[2021-01-19 10:55] angievi commented on #151
Hi @Andreas2000 yes, you can still create a sidechain following the steps listed above! thanks :)

[2021-01-19 10:56] angievi commented on #151
Thank you @mzaghab your contribution is being reviewed, I'll come back to you in the next few days, thanks for contributing!

[2021-01-23 08:28] rickmort commented on #151
@angievi

Here I share my report: https://github.com/rickmort/hde-create-new-sidechain/blob/main/README.md

Thank you!

[2021-01-23 17:52] muberraa commented on #151
Hey there, is this test still open?

[2021-01-25 04:05] francov99 commented on #151
Hi @angievi
Done.
I share my report
https://github.com/francov99/task-create-new-sidechain

Thank you 😀

[2021-01-25 21:00] menuc commented on #151
Can I still apply for this task?

[2021-02-09 17:42] mzaghab commented on #151
Hi @angievi any news about my contribution review ?

[2021-02-10 14:29] paolocappelletti opened #233 "add helpers for submit tx to mempool and retrieve the NodeView"
helper classes should be exposed as Guice "injectable" objects to allow a sidechain app to:
- send a transaction direclty to the mempool
- retrieve the NodeView

[2021-02-10 19:22] angievi commented on #151
Hi @mzaghab @francov99 @rickmort can you please fill the bounty form here: https://hde.horizen.global/landing-page/bounty-payout-policy thanks!

[2021-02-10 19:24] angievi commented on #151
hello @muberraa and @menuc yes , there is still place for you both to participate in this HDE task
Please provide your report with the format indicated in the instructions, thanks!

[2021-02-10 20:01] angievi commented on #151
Hello @luisantoniocrag , can you please fill your info to claim the bounty:  https://hde.horizen.global/landing-page/bounty-payout-policy thanks!

[2021-02-10 20:42] muberraa commented on #151
hi @angievi I will start today thanks

[2021-02-12 22:10] rickmort commented on #151
Sure @angievi! Thank you.

[2021-02-13 03:45] muberraa commented on #151
Hi Angie! https://github.com/muberraa/zendooSidechain

Hi again @angievi . Here is my report. https://github.com/muberraa/zendooSidechain

[2021-02-14 17:01] menuc commented on #151
https://github.com/menuc/zendooSidechainWindows/blob/main/README.md
this is my docs,Thank u.

[2021-02-14 22:29] angievi commented on #151
thank you @menuc , It will be reviewed and I'll come back to you in the following days with feedback.
have a great day!

[2021-02-14 23:04] Mlhozgr commented on #151
Hi @angievi . I tried to complete this task in two  different OS.(Linux Mint and Ubuntu 20.04).When i try to do ./src/zend -regtest -websocket this step system says there is no zend file in src.I tried many times with different OS.But same result. I will try with Elemantry OS but i am wondering has anybody encountered or reported a problem similar to the one I have encountered? I have been trying

[2021-02-14 23:12] muberraa commented on #151
Hi @angievi ,
You returned in the message above @menuc. There is no problem with my report, right?

[2021-02-15 09:45] definition7 opened #236 "Dougscoin"

[2021-02-15 17:29] infinitEnigma commented on #151
it works on Ubuntu 20.04, u should build first with: `./zcutil/build.sh -j$(nproc)`, when build is done, run: `./zcutil/fetch-params.sh`, and  then: `./src/zend -...`

[2021-02-15 18:26] Mlhozgr commented on #151
Actually i did all steps.But it doesnt work. Yesterday i tried on ElemantryOS. But still doesnt work. I stuck. this problem made me mad.

[2021-02-16 16:09] #236 closed

[2021-02-16 17:06] mrltndl commented on #151
Hi @angievi
Is this task available?
Thanks...

[2021-02-17 11:13] i-Alex opened #237 "Consensus parameters analysis"
During the test of the custom application in the testnet network the following case occurred:
1) There were 4 forger nodes with the equal forger stakes (25% of the total stake per node).
2) 2 nodes became offline at different times, so at some point only 50% of the total stake participated in forging during a while.
3) In average, sidechain blocks producing rate was more than 6 mins per block. In

[2021-02-17 14:16] lander86 opened #238 "Error message when multiple nodes are forging"
When multiple nodes are setted up to forge new blocks on a sidechain, this error message occurs often in the logs :

`2021-02-17 14:09:48:992 +0000 [2-Hop-akka.actor.default-dispatcher-28822] ERROR com.horizen.forge.ForgeMessageBuilder - Failed to forge block for 3 epoch 324 slot due:
java.lang.IllegalArgumentException: Try to forge block with incorrect epochAndSlot Epoch: 3, Slot 324 which are eq

[2021-02-17 14:27] i-Alex commented on #238
We need to review the order of checks during forging and update the behavior of logs.
Moreover, we need to do the same for CertificateSubmitter, especially the error message in case certificate was rejected by the MC node.

[2021-02-17 17:41] angievi commented on #151
Hi @muberraa , your report is also being reviewed, I'll come back to you with feedback.

Thanks!

[2021-02-17 17:47] angievi commented on #151
Hello everyone, this issue has also reached the number of participants allowed, thanks for contributing to HDE!

[2021-02-17 20:35] infinitEnigma commented on #151
Hi @angievi, I received only half of the bounty rewards, 20 days ago. When will I get the rest? Thanks.

[2021-02-17 23:10] angievi commented on #151
You are right @infinitEnigma , will send the rest shortly. Posting here the txid for reference: https://explorer.horizen.io/tx/f274cad19fb79b736969890f6747374586d5dd1493bd592b3815064591cb7a33

[2021-02-18 00:22] rickmort commented on #151
You sent me $ZEN for only a bounty to, do I have to wait for the next payment cycle? By the way, thanks a lot @angievi!

[2021-02-18 00:40] angievi commented on #151
did you fill the bounty form again for this issue?

did you fill the bounty form again for this issue? I think Please submit again, thank you! https://hde.horizen.global/landing-page/bounty-payout-policy

[2021-02-18 00:44] rickmort commented on #151
Sure, already sent again, thanks!

[2021-02-18 13:34] Mlhozgr commented on #151
@angievi I wonder why you ignored me.  I am getting an error about the project and I am asking a related question.  But you respond to other people and frankly ignore my message.  How do you expect people to contribute to the project this way?

[2021-02-18 16:39] lander86 commented on #238
I've spotted something strange in the last sidechain's log :

`2021-02-18 13:37:44:044 +0000 [2-Hop-akka.actor.default-dispatcher-76274] INFO com.horizen.SidechainState - Block contains successfully verified backward transfer certificate for epoch %d`

It seems that the epoch number is not correctly showed. We could add also this to this issue.

[2021-02-18 21:41] angievi commented on #151
Hello @muberraa and @menuc , can you please fill out the bounty form: https://hde.horizen.global/landing-page/bounty-payout-policy

[2021-02-18 21:42] angievi commented on #151
Thank you everyone that contributed to this HDE issue! We have reached the number of participants allowed.

[2021-02-19 18:41] angievi commented on #151
Hi @Mlhozgr, sorry for not being able to reply sooner. Seems that you are no able to compile, I escalated this issue with the infra team and we suggest you to do it in Ubuntu 18.04. I invite you to participate in upcoming HDE tasks as this one has reached the number of participants allowed.

regards,

Angie.

[2021-02-19 18:43] #151 closed

[2021-02-20 15:03] rickmort commented on #151
Just to confirm.
will I receive the payment? I see that the issue is already closed.
@angievi

[2021-02-25 07:07] menuc commented on #151
@angievi hi,When can I pay?

[2021-03-01 11:02] i-Alex opened #241 "Tx semantic validity: add output coins and fee range check."
Implement output coins and fee amount range check directly in the `SidechainTransaction::semanticValidity` method.
Remove the check from the SidechainCoreTransaction.

[2021-03-01 14:38] paolocappelletti opened #242 "add orphan transaction management"
The lack of orphan transactions management causes some limitations.
One of the most relevant is that in case of revert of multiple blocks, we can loose some of the previous transactions, that are not re-inserted in the mempool if they have dependencies between inputs and outputs.

[2021-03-29 17:22] i-Alex opened #248 "TransactionSubmitProvider interface"
`TransactionSubmitProvider` interface has the only one method:
`def submitTransaction(tx: BoxTransaction[Proposition, Box[Proposition]],
                        callback:(Boolean, Option[Throwable]) => Unit) : Unit`
The implementation class `TransactionSubmitProviderImpl` defines the method in a way where the `callback` is executed **asynchronously** which is not clear for users from the method na

[2021-04-05 07:30] i-Alex opened #249 "Core API: withnodeview"
Currently, API's `withNodeView` method doesn't lock NodeView inside the NodeViewHolder actor thread.
In case there are multiple read operations on NodeView it may happen that data retrieved is desynchronized, because the NodeView backed databases were updated between the read calls.
To avoid this, let's introduce another method, that will execute the method on the NodeView inside the NodeViewHolde

[2021-04-06 08:59] i-Alex commented on #233
Done.

[2021-04-06 08:59] #233 closed

[2021-04-06 09:05] i-Alex commented on #203
done

[2021-04-06 09:05] #203 closed

[2021-04-06 09:06] i-Alex commented on #206
done

[2021-04-06 09:06] #206 closed

[2021-04-06 09:06] i-Alex commented on #192
done

[2021-04-06 09:06] #192 closed

[2021-04-27 12:05] #136 closed

[2021-04-28 08:36] i-Alex opened #256 "Certificate submission process optimization"
In current SDK version (`dev` branch) there is an inefficient trigger for certificate creation and submission to the MC.
Creation attempt is triggered by chain tip update on SC side.
When the new tip arrived the following certificate submission logic is performed:
1) Check that the tip belongs to the certificate submission logic. If not -> break
2) Check that the new certificate quality is greater

[2021-04-29 09:38] i-Alex commented on #256
As was discussed AFK, don't use the cache for the proofs, because with the current approach in will be reused only in a very extreme cases, like MC fork for a specific MC block (last withdrawal epoch block) or Cert revert because of the inputs conflicts. We can avoid adding such a complexity to the code.

Also to have more optimized solution, we should add additional trigger for cert generation at

[2021-05-02 07:09] Jamesarmy1993 commented on #256
❤️

[2021-05-06 09:03] lander86 opened #257 "Error with locale"
If the locale on the OS is not set to UTF-8, a node, when started, will throw an INFO :

Exception in thread "main" com.google.inject.ProvisionException: Unable to provision, see the following errors:

1) Error in custom provider, java.nio.charset.MalformedInputException: Input length = 1
  at com.horizen.SidechainAppModule.get(SidechainAppModule.scala:66)
  while locating com.horizen.SidechainApp

[2021-05-06 09:12] i-Alex commented on #257
This error occurred because the swagger config file reading was failed during the Node initialization: `Source.fromResource("api/sidechainApi.yaml").getLines.mkString("\n")`.
The charset of "api/sidechainApi.yaml" is UTF-8.

According to this issue we need to specify directly the encoding in the code instead of using the OS one by default.
The OS mentioned above had a POSIX locale by default.
Note

[2021-05-17 13:27] paolocappelletti opened #260 "Testing framework: support for extra arguments in node startup"
In the testing frameork the extra_args parameter is declared but not handled in the method  start_sc_node() here:
https://github.com/HorizenOfficial/Sidechains-SDK/blob/b6b533ee909db603136d3c7e2f598d1f75faa5e4/qa/SidechainTestFramework/scutil.py#L340

could be useful if we have to  pass custom system properties to the node  with -D option
Note: as temporary solution I tried to include the -D optio

[2021-06-09 17:39] PowerVANO opened #263 "Title: Make Sidechains SDK compatible with Mac OS"
We need to make Sidechains SDK compatible with Mac OS.
This is a complex task, and the work involves 6 libraries as well as zend_oo as prerequisites.

**Scope of Work**

Make the following Mac OS compatible both on ARM and x86 architectures:
- [ginger-lib](https://github.com/HorizenOfficial/ginger-lib)
- [zendoo-mc-cryptolib](https://github.com/HorizenOfficial/zendoo-mc-cryptolib)
- [zendoo-sc-cry

[2021-07-02 17:22] #241 closed

[2021-07-06 17:37] PowerVANO commented on #263
Bounty increased to $5000 USD (from $2500 USD).

[2021-07-21 00:28] bilall7 commented on #263
CAN I TAKE THIS TASK

[2021-07-21 12:40] zulkifli25 commented on #263
CAN I TALK

Pada tanggal Rab, 7 Jul 2021 01.37, PowerVANO ***@***.***>
menulis:

[2021-07-21 14:23] PowerVANO commented on #263
@bilall7 @zulkifli25
Do you have questions or plans how to do this task?

[2021-07-29 12:52] i-Alex commented on #249
Fixed with PR #253. Commit 625f9323bb13e99646aee9c6cd6e2ddb8a9069b8

[2021-07-29 12:52] #249 closed

[2021-08-06 10:21] cronicc opened #271 "Add API endpoint to disable/enable certificate generation"
Similar to /block/startForging and /block/stopForging it would be great to have an API endpoint to disable/enable certificate generation on the fly.

[2021-08-06 10:23] cronicc opened #272 "API unresponsive while a node is syncing"
When a node is syncing blocks from scratch, any API calls timeout.

[2021-08-06 10:48] cronicc opened #273 "Add additional information to /node/allPeers and /node/connectedPeers"
First we should check if both of these endpoints (/node/allPeers, /node/connectedPeers) are needed. Are they doing the exact same thing? If yes remove one of them.

 Secondly, exposing additional information about peers would be very useful. This is the current schema:
[code]

 And here is an example of information exposed from the mainchain getpeerinfo RPC:
[code]

 Extending the SC schema with t

[2021-08-06 10:53] cronicc opened #274 "API call responses should terminate with a newline character"
Currently:
[code]

Better:
[code]

[2021-08-06 11:53] cronicc opened #275 "Node should not connect to itself and not create bi-directional connections to other peers"
/node/connectedPeers from Node1:
[code]

We can see that:
1. Node1 connects to itself
2. There is an Incoming and Outgoing (bi-directional) connection to Node3

We should make sure that we don't connect to our self, and that bi-directional connections are avoided.

[2021-09-01 10:23] paolocappelletti opened #280 "add application hook to refuse a block immediately after it has been received from a peer"
Applications should have a way to add custom checks when a block is received from other peers, to optionally refuse it even before the consensus process starts.
This can be useful  to "pause" the resync process until the node has all the external data needed, if any external data is needed for validation.
Example usecase: in Auditchain M3 a tx will contain a MerkleTreeRoot derived from Bitcoin dat

[2021-09-01 11:08] i-Alex commented on #280
Agree with the statement above and want to add a few other points.
In general, custom application validation rules may require an access to external data. External data is the data not from the current blockchain. When the new block arrives the external data can be still unknown to the node, so the block can't be validated. But important, that we should not invalidate the block, because in this ca

[2021-09-16 10:41] i-Alex commented on #271
Addressed in https://github.com/HorizenOfficial/Sidechains-SDK/pull/278

[2021-09-16 10:41] #248 closed

[2021-09-16 10:42] #256 closed

[2021-09-16 10:42] #238 closed

[2021-09-16 10:42] #230 closed

[2021-09-16 10:43] #223 closed

[2021-09-16 10:44] i-Alex commented on #227
Done

[2021-09-16 10:44] #227 closed

[2021-09-16 10:44] i-Alex commented on #204
Done

[2021-09-16 10:44] #204 closed

[2021-09-16 10:44] #191 closed

[2021-09-16 10:45] i-Alex commented on #171
Done and merged. Just in-test issue.

[2021-09-16 10:45] #171 closed

[2021-09-16 10:46] #158 closed

[2021-09-16 10:46] #257 closed

[2021-09-16 10:49] #137 closed

[2021-10-01 09:00] i-Alex commented on #150
Done in https://github.com/HorizenOfficial/Sidechains-SDK/pull/283

[2021-10-18 16:20] cronicc opened #287 "/transaction/withdrawCoins swagger example needs update"
The example POST payload in /transaction/withdrawCoins currently shows this:

[code]
but the publicKey field doesn't take as input the publicKey, but the base58check encoded mainchain P2PKH address.

The key name should be changed from "publicKey" to "mainchainAddress".

[2021-10-19 16:44] cronicc opened #288 "Support for HD wallet key derivation scheme on sidechains"
It should be possible to use mnemonic phrases to deterministically derive a seed, addresses, public and private keys.

BIPs to conform with:
https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki
https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki
https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki

[2021-10-19 16:47] cronicc opened #289 "Implement base58check encoding for sidechain addresses instead of using raw hexadecimal publicKeys"
We currently use raw hexadecimal public keys as sidechain addresses. End users should never have to handle raw hex strings directly. Instead the public keys should be encoded using https://en.bitcoin.it/wiki/Base58Check_encoding, which gives the additional advantage of address check summing.

[2021-10-19 16:48] cronicc opened #290 "Add RPC calls to export/import private keys and to export/import wallets"

[2021-10-29 14:05] i-Alex opened #295 "Replace NTP with a more secure approach"
Currently we use NTP for clock synchronization between nodes.
Check for secure alternatives like `tlsdate`.

[2021-11-24 10:39] i-Alex opened #301 "Remove IODBStoreAdapter"
`IODBStoreAdapter` storage is not stable. Let's remove it and all the dependencies from the SDK.
Instead we should use LevelDB based storage.

[2021-12-02 08:27] fluksurasak commented on #263
Good

[2021-12-13 11:49] i-Alex opened #310 "Allow `SidechainApp.stopAll()` extension"
Would be useful to allow custom app developers to extend `stopAll` method. For example, to close custom storage databases in a safe way when App is going to stop. To be discussed.

[2021-12-14 05:30] fluksurasak opened #311 "May I ask a question why tar+ encrypted + zstd or tar + zstd + encrypted is not supported? Thanks."
May I ask a question why tar+ encrypted + zstd or tar + zstd + encrypted is not supported? Thanks.

_Originally posted by @optimistyzy in https://github.com/opencontainers/image-spec/pull/775#discussion_r768266971_

[2021-12-17 10:21] i-Alex commented on #186
Add 2 fields in json:
1) "typeName" : <class name>, like "ZenBox"
2) isCustom: true | false
Remove:
1) "typeId" from json, use only for internal byte serialization needs.
Note: check the usage of type id in gamechain, lambo and zkAudit.

[2021-12-17 10:21] #150 closed

[2022-01-04 15:01] #154 closed

[2022-01-04 15:54] QAWSED4455 commented on #263
Nice

[2022-01-04 15:56] QAWSED4455 commented on #263
Great

[2022-01-13 14:44] VolodymyrBabaiev opened #322 "Disabled tests in SidechainTransactionApiRoute"
Investigate cause of disabling tests(sendCoinsToAddress, sendTransaction, spendForgingStake) in SidechainTransactionApiRoute unit tests.

[2022-01-26 14:49] i-Alex opened #323 "Implement rescan logic similar to zen-core"
Currently there is no clear way to see the related boxes for the secret added after that box was processed in the wallet during block apply. We should implement rescan logic similar to the MC one, so to be able in a safe way scan the chain from the beginning and store the data core and application wallets are interested in.

[2022-02-01 06:58] Amarputra39 commented on #263
Great Project 👍🚀🚀🚀

[2022-02-09 17:05] cronicc opened #326 "Expose scid information in Swagger"
Currently there is no way I know of to determine the SidechainID using only the SC Node API. To get this information access to the sidechain configuration file is needed or the mainchain RPC interface has to be used to get the genesisBlockReferenceInfo block hash and guess the right sidechain registration tx id.

[2022-02-10 12:10] i-Alex opened #327 "Update akka-http version"
Currently we use version 10.1.9, that has a display error message bug: https://github.com/akka/akka-http/issues/2897
Would be useful for our check on rest api request level to print meaningful error logs in the response body.
We need to upgrade at least to v 10.2.0.
Unfortunately now it requires an update of other `akka` and `jackson` dependencies, but `akka` is taken from Scorex, so would be nice

[2022-02-14 17:58] tolgaakkoc43 commented on #263
Nice projects

[2022-02-21 09:39] Wellis541 commented on #263
I can take on this task and dedicate 40 hours a week to its completion. I am ready and happy to handle it

[2022-03-08 14:18] paolocappelletti opened #334 "/wallet/allPublicKeys should display the key type"
/wallet/allPublicKey response currently shows only the "publicKey" field of each key present in the wallet (see example below).
We should add a "type" attribute because since 0.3.0 the Schnorr keys are very similar in length to the standard 25519 keys (the last one in the example), and this can be misleading.

{
    "result": {
        "propositions": [
            {
                "publicKey": "

[2022-04-05 13:30] alsala opened #349 "Exception handling and traces should be improved in the code path related to Forging process"
Currently, if anything wrong is happening when sending a `websocket` request to MC and processing the result, the only error indication explicitly written in the traces is a 'Connection Error', even in case of internal error.

For instance if the response got from the MC contains a block hex which can not be successfully parsed, we have an internal error which is not traced. The relevant method is

[2022-04-08 07:22] paolocappelletti opened #350 "box not found in state: error message must print the box id correctly"
please fix this error message:
https://github.com/HorizenOfficial/Sidechains-SDK/blob/master/sdk/src/main/scala/com/horizen/SidechainState.scala#L281

Actually the box id is not printed correctly, making more difficult the debug:
{"code":"0204","description":"GenericTransactionError","detail":"Box [B@3180d476 is not found in state"}

[2022-04-11 09:35] i-Alex opened #352 "Websocket settings improvement"
Currently the Websocket configuration is represented as:
[code]
So, the websocket client connection to MC and websocket server configs are mixed together.
Client settings are:
[code]
Server settings are:
[code]
1) Let's decouple them into two subgroups: `client` and `server`.

[2022-04-11 09:38] i-Alex opened #353 "Websocket client behavior improvement"
At the moment every sidechain node will try to make a connection to MC websocket server, even in the case when node doesn't want any connection. Let's add the flag to `WebSocketSettings` like `enabled: Boolean`. In case of `false` prevent any connection attempt.

[2022-04-13 09:12] alsala opened #354 "Log system should allow to test the current logger level in the source code"
Currently it is not possible using code such as `log.whenDebugEnabled {..}` because the logger level which is tested is the log4j2 root logger, which is set to 'all'.
One option could be modifying the log4j2.xml file for render it configurable via a System property in the LogInitializer class, by using the highest level used by the console and logfile appenders.

[2022-05-06 10:33] #36 closed, assigned to i-Alex

[2022-05-06 10:35] #49 closed, assigned to i-Alex

[2022-05-06 11:06] i-Alex commented on #186
Done

[2022-05-06 11:06] #186 closed

[2022-05-06 11:07] i-Alex commented on #187
Seems not relevant anymore. IODB storage was removed.

[2022-05-06 11:07] #187 closed

[2022-05-06 11:08] #190 closed

[2022-05-06 11:08] i-Alex commented on #194
Done in 0.3.0

[2022-05-06 11:08] #194 closed

[2022-05-06 11:10] i-Alex commented on #197
@paolocappelletti can you check if this issue is still relevant? If not, feel free to close it.

[2022-05-06 11:11] #200 closed

[2022-05-06 11:12] i-Alex commented on #271
Done

[2022-05-06 11:12] #271 closed

[2022-05-06 11:22] i-Alex commented on #38
Done in 0.2.x, signatures are accounted.

[2022-05-06 11:22] #38 closed

[2022-05-06 12:11] i-Alex commented on #41
Done

[2022-05-06 12:11] #41 closed

[2022-05-06 12:13] i-Alex commented on #138
Actually not used in SC, but has sense to check it on MC side.

[2022-05-06 12:14] i-Alex commented on #272
Addressed in https://github.com/HorizenOfficial/Sidechains-SDK/pull/357

[2022-05-06 13:36] #138 closed

[2022-05-10 14:45] i-Alex commented on #260
@paolocappelletti is it still a case?

[2022-05-13 10:09] paolocappelletti opened #365 "Block detail: inconsistency between weboscket event and api endpoint"
there is an inconsistency between data returned in the
**single_block** / **new_single_block** websocket event
and data returned in
/block/findById  http endpoint

In the first one is missing the blockHex
In the second one is missing the (new) feePayments  list,  the height of the block and the hash

the object in the websocket is:

[code]

and in the endpoint:
[code]

(reported by Thomas)

[2022-05-13 11:20] i-Alex commented on #365
`height` in API response was added in PR https://github.com/HorizenOfficial/Sidechains-SDK/pull/328
`feePayments` was not planned to add to API and I'm not sure that we need it.

[2022-05-13 17:13] paolocappelletti commented on #365
I think feePayments should be added, can be very useful for debugging or later inspection to know exaclty all the boxes that appeared in a specific block, including this ones.

[2022-05-18 12:05] otoumas commented on #365
Also, adding the block hex to the socket message payload would be really useful in the explorer

[2022-05-18 12:10] otoumas opened #366 "Transactions detail: Add raw tx bytes to the websocket message payload"
It would be very useful for the explorer to receive the rawTx inside the payload when a list of txs is requested via web socket:

https://github.com/HorizenOfficial/Sidechains-SDK/blob/973fff7cb349361e8cfb0b9a497c005e571f15f9/sdk/src/main/scala/com/horizen/websocket/server/SidechainNodeChannelImpl.scala#L106

[2022-05-20 08:28] MarcoOl94 opened #374 "Append additional bytes to block and transaction byte array."
It's allow to add additional bytes at the end of the byte array representing a block or a transaction (`SidechainBlock.serialize(`), `SidechainCoreTransactionSerializer.serialize()`).
The modified data is sent to the network with these additional bytes and it's validated by the other nodes by just discarding these bytes (they are ignored in the deserialization process).

[2022-05-20 08:54] MarcoOl94 opened #375 "Sometimes the endpoint /block/bestBlock and /block/findById doesn't give the parsed block"
Sometimes the endpoint `/block/bestBlock` and  `/block/findById` doesn't answer with the JSON object representing the block.

[2022-05-20 08:56] MarcoOl94 opened #376 "The endpoint /block/generate answer with a blockid even if the block was not created."
Even if the block generation using the endpoint `/block/generate ` fails, the endpoint answers with a blockid as if the block was successfully created.

[2022-05-26 10:43] paolocappelletti opened #382 "improve websocket configuration"
The websocket is configured in this section of the config file:

websocket {
         address = "ws://localhost:8888"
        connectionTimeout = 100 milliseconds
        reconnectionDelay = 60 seconds
        wsServer = false
        wsServerPort = 8025
}

we have the following problems:
- is not possible to disable the websocket connection to the ZEND node (could be useful if I want to just sync

[2022-05-26 10:46] i-Alex commented on #382
Point 1 was described here: https://github.com/HorizenOfficial/Sidechains-SDK/issues/353
Point 3 was described here: https://github.com/HorizenOfficial/Sidechains-SDK/issues/352

Point 2 is a new one.

[2022-06-01 14:29] i-Alex opened #390 "BackupStorage improvement"
Currently `BackupStorage` has method `def update (version : ByteArrayWrapper, boxToSaveList : java.util.List[JPair[ByteArrayWrapper,ByteArrayWrapper]])`

Every developer who wants to implement backup logic, should know how to represent box as a valid key-value pair: `JPair[ByteArrayWrapper,ByteArrayWrapper]`. Especially tricky is to know what is the key.

It seems, that we can modify update method

[2022-06-07 09:43] paologalligit commented on #273
The endpoints are showing different things:

- allPeers -> are all the peers that the node knows about and considers as good peers;
- connectedPeers -> are all the peers the node is actively exchanging data with.

So there can be a scenario when the node wants to connect to a peer (visible in allPeers) but this one won't accept the connection, so it's not listed by the connectedPeers endpoint.

Wi

[2022-06-07 16:01] paolocappelletti opened #394 "Logging improvements"
Nice to have to improve logging support:
- SDK class com.horizen.settings.LogInitializer should inject also the "logDir" property  into the system properties

- on app side: remove in pom any configuration that uses different log4j jar/logging libraries, just rely in the the default log4j configuration or, if needed, include in the classpath a custom log4j file specifing additional appenders.

[2022-06-10 12:07] i-Alex opened #399 "Set proper names for Actors"
While initializing core Actor classes, specify their names using: "def actorOf(props: Props, name: String)" method.
That will improve visibility in the logs in case any actor message. Otherwise, in the log we see unknown actor log.

Example: `SidechainNodeViewHolderRef("NodeViewHolder", ...)`

[2022-06-10 23:03] Emad980 commented on #263
ممتاز جدا ومشاريع رائعه

[2022-06-17 14:40] davehorizen opened #411 "Add custom local storages to sdk dbtool"
To rollback the storage or to check its version for test purposes it is possible to use the dbtools of the SDK.
To interact with the dbtools we need to execute the executable file of the tool called (at the time of writing) sidechain-sdk-dbtools-0.3.4. The list of the local storages name is defined in the DbTool java file of the executable file, it contains only the names of the common storages (c

[2022-06-20 08:28] paolocappelletti commented on #411
Furthermore: we should update the testing framework to be able to invoke the dbtools with these new additiona parameters, to allow apps to use it in python tests

[2022-07-08 00:40] DeFiMoney-Printer opened #445 "Small UI Error (bad link within the side-chains SDK)"
https://github.com/HorizenOfficial/Sidechains-SDK/tree/dev
![zenerror](https://user-images.githubusercontent.com/81204298/177893456-df4b7340-2b1b-42b9-b118-fc48784e9450.png)

The link in the github leads to the Zendoo whitepaper, when it looks like it should lead to the Latus whitepaper.

Latus Incentive Scheme: Enabling
Decentralization in Blockchains based on
Recursive SNARKs](https://www.horize

[2022-07-08 01:12] DeFiMoney-Printer commented on #445
update: this would be specific only to the "ReadMe" section https://github.com/HorizenOfficial/Sidechains-SDK#readme

[2022-07-11 19:48] CryptoDevving opened #450 "Null"
Null

[2022-07-14 21:20] #450 closed

[2022-08-24 22:51] abdualrhman55 opened #510 "zndv5pzhST3KHcGM3DYbRwQvx9vtkq45f7Q"
العبه حلوه يا

تع للقعجعكؤعحفؤقحي عحقس

تاغ